@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FirstIndex</title>
</head>
<body>
    <div>
        <span>1、web.config里面记录连接mssql、mysql 的配置语句。</span>
    </div>
</body>
</html>

 