@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head> 
    <title>FirstIndex</title> 
     <script src="/Content/Matrix_Admin/js/jquery.min.js"></script>   
    <script type="text/javascript">
        $(function () {
            for (var i=0; i < 20; i++) {
                $('#divId').append("<span>1、web.config里面记录连接mssql、mysql 的配置语句。</span>");
            } 
        });
    </script>
</head>
<body>
    <div id="divId">
        <span>1、web.config里面记录连接mssql、mysql 的配置语句。</span>
          
    </div>
</body>
</html>

 