@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
<title>Matrix Admin</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/Content/Matrix_Admin/css/bootstrap.min.css" />
<link rel="stylesheet" href="/Content/Matrix_Admin/css/bootstrap-responsive.min.css" /> 
<link rel="stylesheet" href="/Content/Matrix_Admin/css/matrix-style.css" />
<link rel="stylesheet" href="/Content/Matrix_Admin/css/matrix-media.css" /> 

</head>
<body>

<!--Header-part-->
<div id="header">
  <h1><a href="dashboard.html">My Admin</a></h1>
</div>
<!--close-Header-part--> 


<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav"> 
    <li class=""><a title="" href="/Home/LogOut"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
  </ul>
</div>
<!--close-top-Header-menu-->
 
<!--sidebar-menu-->
<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-inbox"></i> 菜单</a>
   @Html.Action("Menu", "Home") 
</div>
<!--sidebar-menu-->

<!--main-container-part-->
<div id="content">
<!--breadcrumbs-->
  <div id="content-header">
    <div id="breadcrumb"> <a hre="/Home/FirstIndex" title="Go to Home" class="tip-bottom"><i class="icon-home"></i><span>首页</span></a></div>
  </div>
<!--End-breadcrumbs-->
     
    <div class="widget-box" style="margin-top:0px;">
          <div class="widget-title">
            <ul class="nav nav-tabs" id="tabHead">
              <li class="active"><a data-toggle="tab" href="#0" >首页</a></li> 
            </ul>
          </div>
          <div class="widget-content tab-content" id="tabContent">
            <div id="#0" class="tab-pane active">
               <iframe frameborder="0" name="0" id="x" src="/Home/LoginIndex"></iframe> 
            </div>
            
          </div>
        </div>
<!--Action boxes-->
  
</div>

<!--end-main-container-part-->

<!--Footer-part-->

<div class="row-fluid">
  <div id="footer" class="span12"> 2013 &copy; My Admin. Brought to you by <a href="http://themedesigner.in/">Themedesigner.in</a> </div>
</div>

<!--end-Footer-part-->
     
<script src="/Content/Matrix_Admin/js/jquery.min.js"></script> 
<script src="/Content/Matrix_Admin/js/jquery.ui.custom.js"></script> 
<script src="/Content/Matrix_Admin/js/bootstrap.min.js"></script>  
<script src="/Content/Matrix_Admin/js/matrix.js"></script>   
<script src="/Content/Matrix_Admin/js/jquery.uniform.js"></script>  
<script type="text/javascript">
    $(function () { 
        $("[hre]").click(function () { 
            var hre = $(this).attr("hre");
            var name = $(this).find("span").html();
            var menuId = $(this).attr("id");
            $("#tabHead li").removeClass();
            $("#tabContent div").removeClass(); 
            $("#tabContent div").addClass("tab-pane");
            var isAdd = 1;
            $("#tabHead a").each(function () { 
                var id = $(this).attr("href"); 
                if ("#"+menuId == id) {
                    $(this).parent().addClass("active");
                    $("#tabContent div").each(function () {
                        var conId = $(this).attr("id"); 
                        if (conId == id) { 
                            $(this).removeClass();
                            $(this).addClass("tab-pane active"); 
                        }
                    }); 
                   
                    isAdd = 0;
                    
                } 
            });  
            if (isAdd == 1) { 
                $("#tabHead").append(" <li class='active'><a data-toggle='tab' href='#" + menuId + "'>" + name + "</a></li> ");
                $("#tabContent").append("<div id='#" + menuId + "' class='tab-pane active'><iframe frameborder='0' name='0'  src='" + hre + "'></iframe></div>");
            
            } 
            
        });

        $("#tabHead a").click(function () {
            $("#tabContent div").removeClass();
            $("#tabContent div").addClass("tab-pane"); 
                var id = $(this).attr("href"); 
                    $(this).parent().addClass("active");
                    $("#tabContent div").each(function () {
                        var conId = $(this).attr("id");
                        if (conId == id) {
                            $(this).removeClass();
                            $(this).addClass("tab-pane active");
                        }
                    }); 
        });
    });
</script>
</body>
</html>
