@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
<title>Matrix Admin</title>
<meta charset="UTF-8" /> 
<meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
<link rel="stylesheet" href="/Content/Matrix_Admin/css/bootstrap.min.css" />
<link rel="stylesheet" href="/Content/Matrix_Admin/css/bootstrap-responsive.min.css" /> 
<link rel="stylesheet" href="/Content/Matrix_Admin/css/matrix-style.css" /> 
<link rel="stylesheet" href="/Content/Matrix_Admin/css/matrix-media.css" />    
<script src="/Content/Matrix_Admin/js/jquery.min.js"></script>  
<script type="text/javascript">   
    //判断移动端方法
    var browser = {
        versions: function () {
            var u = navigator.userAgent, app = navigator.appVersion;
            return {//移动终端浏览器版本信息   
                trident: u.indexOf('Trident') > -1, //IE内核  
                presto: u.indexOf('Presto') > -1, //opera内核  
                webKit: u.indexOf('AppleWebKit') > -1, //苹果、谷歌内核  
                gecko: u.indexOf('Gecko') > -1 && u.indexOf('KHTML') == -1, //火狐内核  
                mobile: !!u.match(/AppleWebKit.*Mobile.*/), //是否为移动终端  
                ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), //ios终端  
                android: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1, //android终端或者uc浏览器  
                iPhone: u.indexOf('iPhone') > -1, //是否为iPhone或者QQHD浏览器  
                iPad: u.indexOf('iPad') > -1, //是否iPad    
                webApp: u.indexOf('Safari') == -1, //是否web应该程序，没有头部与底部  
                weixin: u.indexOf('MicroMessenger') > -1, //是否微信   
                qq: u.match(/\sQQ/i) == " qq" //是否QQ  
            };
        }(),
        language: (navigator.browserLanguage || navigator.language).toLowerCase()
    } 

    //iframe自适应宽高
    function changeFrameHeight(self) {  
        if (self.id != null) {
            var ifm = document.getElementById(self.id);
            var sid = document.getElementById("sidebar");//菜单条
            ifm.height = document.documentElement.clientHeight == null ? "" : document.documentElement.clientHeight;
            ifm.width = document.documentElement.clientWidth - sid.clientWidth - 20;//减去菜单条的宽度
            if (browser.versions.mobile || browser.versions.ios || browser.versions.android || browser.versions.iPhone || browser.versions.iPad) {
                ifm.width = document.documentElement.clientWidth - 20;//移动端不需要减
            }
        }
       
    } 
    window.onresize = function () {//屏幕变化是触发
        changeFrameHeight(this);

    }
</script>
    <style type="text/css"> 
        .navbar {          /*导航条样式*/
            min-height:0px;  
        } 
    </style>
</head>
<body>

<!--Header-part-->
<div id="header">
  <h1><a href="#">My Admin</a></h1>
</div>
<!--close-Header-part--> 


<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav"> 
    <li class=""><a title="" hre="/Home/FirstIndex" style="border-radius: 6px;"><i class="icon icon-share-alt"></i> <span style="color:#fff;font-weight:bold;">首页</span></a></li>
    <li class=""><a title="" hre="/AdminUsers/ChangePassword" style="border-radius: 6px;"><i class="icon icon-share-alt"></i> <span style="color:#fff;font-weight:bold;">修改密码</span></a></li>
      <li class=""><a title="" href="/Home/LogOut" style="border-radius: 6px;"><i class="icon icon-share-alt"></i> <span style="color:#fff;font-weight:bold;">退出</span></a></li>
  </ul>
</div>
<!--close-top-Header-menu-->
 
<!--sidebar-menu-->
<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-inbox"></i> 菜单</a>
   @Html.Action("Menu", "Home") 
</div>
<!--sidebar-menu-->

<!--main-container-part-->
<div id="content"> 
    <div class="widget-box" style="margin-top:0px;">
          <div class="widget-title" style="    margin-top: -38px;border-radius: 6px;">
            <ul class="nav nav-tabs" id="tabHead">
              <li class="active"><a data-toggle="tab" href="#0" style="border-radius: 6px;">首页</a></li> 
            </ul>
          </div>
          <div class="widget-content tab-content" id="tabContent" >
            <div id="#0" class="tab-pane active" >
               <iframe frameborder="0" name="0" id="iframepage0" src="/WeiXinMenu/index"  onload="changeFrameHeight(this)" ></iframe> 
            </div>
            
          </div>
        </div>
<!--Action boxes-->
  
</div>

<!--end-main-container-part-->

<!--Footer-part-->

<div class="row-fluid">
  <div id="footer" class="span12"> 2013 &copy; My Admin. Brought to you by <a href="http://themedesigner.in/">Themedesigner.in</a> </div>
</div>

<!--end-Footer-part-->
     

<script src="/Content/Matrix_Admin/js/jquery.ui.custom.js"></script> 
<script src="/Content/Matrix_Admin/js/bootstrap.min.js"></script>  
<script src="/Content/Matrix_Admin/js/matrix.js"></script>   
<script src="/Content/Matrix_Admin/js/jquery.uniform.js"></script> 
<script src="~/Content/Matrix_Admin/js/BootstrapMenu.min.js"></script>@*右键菜单js*@
<script type="text/javascript"> 
    $(function () { 

        //点击菜单 切换tab
        $("[hre]").click(function () { 
            var hre = $(this).attr("hre");
            var name = $(this).find("span").html();
            var menuId = $(this).attr("id");
            $("#tabHead li").removeClass();
            $("#tabContent div").removeClass(); 
            $("#tabContent div").addClass("tab-pane");
            var isAdd = 1;
            $("#tabHead a").each(function () { 
                var id = $(this).attr("href"); 
                if ("#"+menuId == id) {//如果已经有tab就打开tab
                    $(this).parent().addClass("active");//打开tab
                    $("#tabContent div").each(function () {
                        var conId = $(this).attr("id"); 
                        if (conId == id) {  
                            $(this).addClass("tab-pane active"); //打开tab对应的页面
                        }
                    }); 
                   
                    isAdd = 0;
                    
                } 
            });  
            if (isAdd == 1) { //没有tab就新建tab
                $("#tabHead").append(" <li class='active'><a data-toggle='tab' href='#" + menuId + "' style='border-radius: 6px;'>" + name + "</a></li> ");
                $("#tabContent").append("<div id='#" + menuId + "' class='tab-pane active'><iframe frameborder='0' name='0' id='iframepage"+menuId+"'  src='" + hre + "'  onload='changeFrameHeight(this)' ></iframe></div>");
            
            } 
            
        });

        //切换tab
        $("#tabHead a").live("click",function () {//live(),拿到jq添加上去的元素
            $("#tabContent div").removeClass();
            $("#tabContent div").addClass("tab-pane"); 
                var id = $(this).attr("href"); 
                $(this).parent().addClass("active");//打开tab
                    $("#tabContent div").each(function () {
                        var conId = $(this).attr("id"); 
                        if (conId == id) {
                            $(this).removeClass();
                            $(this).addClass("tab-pane active");//打开tab对应的页面
                        }
                    }); 
        }); 

    });

    //右键菜单删除tab
    var menu = new BootstrapMenu('#tabHead', {
        actions: [{
            name: '删除',
            onClick: function () {  
                $("#tabHead li").each(function () {
                    var thisHead = $(this);
                    var clas = thisHead.attr("class");
                    var id = thisHead.children().attr("href");
                    if (clas == "active") { 
                        $("#tabContent div").each(function () {
                            var conId = $(this).attr("id");
                            if (conId == id) {
                                if (thisHead.prev().length > 0) {//如果当前tab是第一个就打开后面tab
                                    thisHead.prev().addClass("active");
                                    $(this).prev().addClass("tab-pane active"); //打开tab对应的页面  
                                } else {
                                    thisHead.next().addClass("active");
                                    $(this).next().addClass("tab-pane active"); //打开tab对应的页面 
                                }
                                thisHead.remove();//删除tab
                                $(this).remove();
                            }
                        });
                    }
                       
                    });
                
            }
        }]
    });
</script>
</body>
</html>
