@{
    Layout = null;
    var permList = ViewBag.perm as List<MyProject.Core.Dtos.PermDto>;
    if (permList == null)
    {
        permList = new List<MyProject.Core.Dtos.PermDto>();
    }
}
@using MyProject.Matrix.Controllers.Core;
@model List<MyProject.Matrix.Controllers.SysManage.ViewModels.MenuModel>

<!DOCTYPE html>

<html>
<head> 
    <title>FirstIndex</title>
    <link href="~/Content/Matrix_Admin/css/bootstrap-3.3.4.css" rel="stylesheet" />  
    <script src="/Content/Matrix_Admin/js/jquery.min.js"></script>  
    <script src="~/Content/Matrix_Admin/js/bootstrap-treeview.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#tree').treeview({ 
                data: '@(Html.Raw(ViewData["treeList"]))',  
                levels:1
            });
            $('#tree').on('nodeSelected', function (event, data) {
                console.log(event);
                console.log(data);
            });
        });
    </script>
</head>
<body style="background-color:#F9F9F9;">
       <div style="width:250px;margin-bottom:20px; text-align:center;">
        <button class="btn btn-primary" >添加</button>
        <button class="btn btn-info" style="display:none;" >修改</button>
        <button class="btn btn-danger"  style="display:none;">删除</button>
    </div>
  <div id="tree" style="width: 250px;float:left;"></div>
 <div>

 </div>
</body>
</html>

 
